@import "../../../shared/styles/variables";
.container {
   max-width: 100%;
   padding: 0 60px;
   .header {
      max-width: 1720px;
      height: 600px;
      margin: 0 auto;
      position: relative;
      display: flex;
      align-items: center;
      &_image {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         filter: brightness(0.5);
      }
      .navigation {
         position: absolute;
         top: 20px;
         left: 20px;
         height: 12px;
         font-size: 13px;
         letter-spacing: 0.01em;
         color: $milk;
         z-index: 2;
         &-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid $milk;
            margin: 0 15px;
         }
         &-url {
            cursor: pointer;
            transition: 0.25s;
         }
      }
      .info {
         width: 100%;
         height: fit-content;
         text-align: center;
         color: $milk;
         z-index: 2;
         &_title {
            font-size: 42px;
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: 15px;
         }
         &_text {
            display: flex;
            justify-content: center;
            align-items: center;
            &-block {
               font-size: 20px;
               line-height: 1.2em;
               padding: 0 60px;
            }
         }
      }
   }
   .information {
      display: none;
      width: 100%;
      padding: 20px 15px;
      &_title {
         text-align: center;
         font-size: 34px;
         margin-bottom: 15px;
         font-weight: 700;
         color: $text-color;
      }
      &_text {
         font-size: 18px;
         line-height: 1.7em;
         &-left {
            display: inline-block;
            width: 25%;
            font-weight: 700;
         }
      }
   }
   .content {
      max-width: 1500px;
      padding: 60px 0 0;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .description {
         width: 45%;
         font-size: 18px;
         line-height: 1.5em;
         color: $light-gray;
         &_main {
            margin-bottom: 20px;
            font-weight: 600;
         }
         &_title {
            margin-bottom: 20px;
            font-weight: 700;
         }
         &_list {
            margin-bottom: 60px;
            padding-left: 15px;
            list-style: none;
         }
         &_item {
            position: relative;
            padding-left: 25px;
            margin-bottom: 10px;
            font-size: 16px;
            &::before {
               content: "";
               position: absolute;
               left: 0;
               top: 5px;
               width: 8px;
               height: 8px;
               border-radius: 50%;
               border: 2px solid #599921;
            }
         }
         &_text {
            margin-bottom: 20px;
         }
      }
      .application {
         width: 45%;
         &_title {
            font-size: 26px;
            font-weight: 500;
            line-height: 1.2em;
            margin-bottom: 10px;
            color: $text-color;
            text-align: center;
         }
         &_text {
            font-size: 15px;
            line-height: 1.2em;
            color: $light-gray;
            text-align: center;
         }
         &_form {
            margin: 30px auto;
            width: 80%;
            &-block {
               width: 100%;
               display: flex;
               justify-content: space-between;
            }
            &-field {
               width: calc(100% - 40px);
               font-size: 16px;
               height: 54px;
               color: $text-color;
               border: 1px solid $border-color;
               background-color: $white;
               line-height: 51px;
               padding: 0 20px;
               margin-bottom: 15px;
               border-radius: 3px;
               transition: 0.25s;
               text-overflow: ellipsis;
               &.half {
                  width: calc(48% - 40px);
               }
               &[type="file"] {
                  width: 50%;
               }
               &.ng-touched.ng-invalid{
                 border-color: red;
               }
            }
            .uil-times {
               font-size: 30px;
               color: $text-color;
               vertical-align: middle;
            }
            &-text-area {
               width: calc(100% - 40px);
               font-size: 16px;
               height: 100px;
               color: $text-color;
               border: 1px solid $border-color;
               background-color: $white;
               line-height: 20px;
               padding: 20px;
               margin-bottom: 15px;
               border-radius: 3px;
               transition: 0.25s;
               text-overflow: ellipsis;
               resize: none;
            }
            &-btn {
               width: 100%;
               color: $white;
               background: $main-color;
               border: 2px solid $main-color;
               border-radius: 6px;
               padding: 18px 30px;
               font-size: 14px;
               line-height: 20px;
               font-weight: 700;
               letter-spacing: 0.15em;
               text-transform: uppercase;
               cursor: pointer;
               transition: 0.3s;
               &:hover {
                  background: $white;
                  color: $main-color;
               }
            }
         }
      }
   }
   .other-vacancies {
      max-width: 1840px;
      margin: 90px auto 120px;
      &_title {
         text-align: center;
         margin-bottom: 50px;
         font-size: 42px;
         font-weight: 700;
         line-height: 1.2em;
         color: $text-color;
         .color {
            color: $main-color;
         }
      }
      &_swipper {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &_btn {
         width: 75px;
         height: 75px;
         padding: 0;
         border: 2px solid $border-color;
         border-radius: 50%;
         background: none;
         font-size: 42px;
         text-align: center;
         line-height: 75px;
         color: $text-color;
         cursor: pointer;
         transition: 0.25s;
         &:hover {
            border-color: $main-color;
         }
         &:disabled {
            border-color: transparent;
            color: transparent;
            cursor: auto;
         }
      }
      .inner {
         width: calc(100% - 150px);
         overflow: hidden;
         .wrapper {
            width: fit-content;
            display: flex;
            justify-content: start;
            align-items: center;
            transition: 1s;
            .vacancy {
               padding: 0 10px;
               position: relative;
               &_image {
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  .image {
                     width: 100%;
                     transition: 0.3s;
                     &:hover {
                        scale: 1.1;
                        cursor: pointer;
                     }
                  }
               }
               &_name {
                  font-weight: 500;
                  font-size: 20px;
                  padding-top: 20px;
                  text-transform: uppercase;
                  color: $text-color;
                  transition: 0.3s;
                  &:hover {
                     color: $main-color;
                     cursor: pointer;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 1640px) {
   .container{
      .header {
         height: 440px;
      }
   }
}

@media (max-width: 1366px){
   .container{
      .header{
         height: 400px;
         .info{
            &_title{
               font-size: 38px;
            }
            &_text{
               &-block{
                  font-size: 18px;
               }
            }
         }
      }
      .other-vacancies{
         margin: 80px auto;
         &_title{
            font-size: 38px;
         }
      }
   }
}
@media (max-width: 1200px){
   .container{
      padding: 0 15px;
      .header{
         max-width: 960px;
         height: 350px;
         .info{
            &_text{
               &-block{
                  padding: 0 10px;
               }
            }
         }
      }
      .content{
         max-width: 960px;
         flex-direction: column;
         .description{
            width: 100%;
            font-size: 16px;
            padding-bottom: 50px;
         }
         .application{
            width: 100%;
            &_title{
               font-size: 24px;
            }
            &_form{
               width: 70%;
               margin: 30px auto 0;
            }
         }
      }
   }
}
@media (max-width: 990px){
   .container{
      .header{
         max-width: 720px;
      }
      .content{
         max-width: 720px;
         .application{
            &_form{
               width: 100%;
            }
         }
      }
   }
}
@media (max-width: 767px){
   .container{
      .header{
         max-width: 540px;
         height: 300px;
         .info{
            &_title{
               font-size: 34px;
            }
         }
      }
      .content{
         max-width: 540px;
         .application{
            width: 100%;
            &_title{
               font-size: 22px;
            }
         }
      }
      .other-vacancies{
         &_title{
            font-size: 34px;
         }
      }
   }
}
@media (max-width: 575px){
   .container{
      .header{
         max-width: 100%;
         .info{
            display: none;
         }
      }
      .information{
         display: block;
      }
      .content{
         max-width: 100%;
         padding: 30px 0 0;
      }
      .other-vacancies{
         margin: 30px auto;
         &_btn{
            width: 50px;
            height: 50px;
            font-size: 32px;
            line-height: 50px;
         }
         .inner{
            width: calc(100% - 100px);
         }
      }
   }
}
@media (max-width: 480px){
   .container{
      .header{
         max-width: 100%;
         .navigation{
            display: none;
         }
      }
      .information{
         display: block;
         &-title{
            font-size: 24px;
         }
         &_text{
            font-size: 14px;
         }
      }
      .content{
         .description{
            padding-bottom: 30px;
         }
         .application{
            &_title{
               font-size: 20px;
            }
            &_form{
               &-block{
                  display: block;
               }
               &-field{
                  &.half {
                     width: calc(100% - 40px);
                  }
               }
               &-btn{
                  font-size: 13px;
                  padding: 14px 30px;
               }
            }
         }
      }
      .other-vacancies{
         &_title{
            font-size: 24px;
            margin-bottom: 30px;
         }
         &_btn{
            width: 25px;
            height: 25px;
            font-size: 25px;
            line-height: 25px;
         }
         .inner{
            width: calc(100% - 50px);
         }
      }
   }
}
