@import '../../shared/styles/variables';

.container{
   width: 500px;
   margin: 60px auto 80px;
   padding:  20px;
   background-color: $milk;
   border-radius: 6px;
   .title{
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
      color: $text-color;
      &-color{
         color: $main-color;
      }
   }
   .form{
      text-align: center;
      &_input{
         width: 80%;
         font-size: 16px;
         height: 54px;
         color: $text-color;
         border: 1px solid $border-color;
         background-color: $white;
         line-height: 51px;
         padding: 0 20px;
         margin-bottom: 30px;
         border-radius: 3px;
      }
      &_button{
         width: 50%;
         color: $white;
         background: $main-color;
         border: 2px solid $main-color;
         border-radius: 6px;
         padding: 18px 30px;
         text-align: center;
         font-size: 14px;
         line-height: 20px;
         font-weight: 700;
         letter-spacing: .15em;
         text-transform: uppercase;
         &:hover{
            cursor: pointer;
            background-color: $white;
            color: $main-color;
         }
         &:disabled{
            background-color: rgb(199, 198, 198);
            color: rgb(155, 154, 154);
            border-color:rgb(185, 184, 184) ;
         }
      }
   }
}

@media (max-width: 550px){
   .container{
      width: 450px;
      margin-top: 50px;
      .title{
         font-size: 20px;
      }
      .form{
         &_input{
            font-size: 14px;
            height: 44px;
            line-height: 41px;
            margin-bottom: 20px;
         }
         &_button{
            width: 90%;
            padding: 16px 20px;
            font-size: 12px;
            line-height: 18px;
         }
      }
   }
}
@media (max-width: 400px){
   .container{
      width: 350px;
      .title{
         font-size: 20px;
      }
      .form{
         &_input{
            font-size: 14px;
            height: 44px;
            line-height: 41px;
            margin-bottom: 20px;
         }
         &_button{
            width: 90%;
            padding: 16px 20px;
            font-size: 12px;
            line-height: 18px;
         }
      }
   }
}