<div class="container">
   <div class="categories">
      <div class="category" 
      *ngFor="let category of userCategories" 
      [class.active]="category.path === currentCategory"
      [routerLink]="['/product', category.path]"
      >{{category.name}}</div>
   </div>
   <div class="categories-select">
      <select name="" id="" class="select" (change)="changeCategory(select.value)" #select>
         <option 
         [value]="category.path" 
         *ngFor="let category of userCategories"
         [selected]="category.path === currentCategory"
         >{{category.name}}</option>
      </select>
   </div>
   <div class="filters">
      <input class="filters_radio" type="radio" id="all" name="filter" checked (change)="filtering(all.id)" #all>
      <label class="filters_label" for="all">Всі</label>
      <input class="filters_radio" type="radio" id="cul-special" name="filter" (change)="filtering(culSpesial.id)" #culSpesial>
      <label class="filters_label" for="cul-special">CULINASIA SPECIAL</label>
      <input class="filters_radio" type="radio" id="no-rice" name="filter" (change)="filtering(noRice.id)" #noRice>
      <label class="filters_label" for="no-rice">NO RICE</label>
      <label class="filters_label" for="sort">Сортувати по:</label>
      <select class="filters_sort" name="" id="sort" (change)="sorting(sort.value)" #sort>
         <option value="price up" selected >Ціна <i class="uil uil-arrow-up"></i></option>
         <option value="price down">Ціна <i class="uil uil-arrow-down"></i></option>
         <option value="weight up">Вага <i class="uil uil-arrow-up"></i></option>
         <option value="weight down">Вага <i class="uil uil-arrow-down"></i></option>
      </select>
   </div>
   <div class="products">
      <div class="product" *ngFor="let product of userProducts">
         <div class="product_image">
            <div class="product_image-top">
               <div class="product_image-label">
                  <div class="cul-special" *ngIf="product.culSpecial">Culinasia special</div>
                  <div class="no-rice" *ngIf="product.noRise">No Rice</div>
               </div>
               <div class="product_image-favorite">
                  <div class="favorite-bnt" 
                  (click)="changeFavorite(product, product.id)"
                  [class.active]="product.favorite"></div>
               </div>
            </div>
            <img class="image" [src]="product.imagePath" alt="">
            <div class="product_image-button">
               <button class="btn" type="button">Швидке замовлення</button>
            </div>
         </div>
         <div class="product_title">
            <div class="product_title-name" 
               [routerLink]="['/product/'+product.category.path, product.id]"
               >{{product.name}}</div>
            <div class="product_title-price">{{product.price}}</div>
         </div>
         <div class="product_info" >
            <p class="product_info-weight" *ngIf="product.category.path === 'napoyi'">{{product.weight}}</p>
            <p class="product_info-components" >{{product.description}}
            </p>
            <p class="product_info-allergens">
               <span *ngIf="product.allergens">*Містить алергени: </span>
               {{product.allergens}}
            </p> 
         </div>
         <div class="product_controlls">
            <div class="count">
               <button class="count_btn" (click)="productCount(product, false)">-</button>
               <input class="count_value" type="text" [value]="product.count" readonly>
               <button class="count_btn" (click)="productCount(product, true)">+</button>
            </div>
            <button class="add-btn" type="button" (click)="addToBasket(product)">Замовити</button>
         </div>
      </div>
   </div>
</div>

 