.wrapper{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   .header{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
   }
   .main{
      margin-top: 200px;
      flex: 1;
      z-index: 2;
      position: relative;
   }
   .footer{
      position: relative;
      z-index: 1;
   }
}
@media (max-width: 1366px){
   .wrapper{
      .main{
         margin-top: 160px;
      }
   }
}


