<div class="container">
   <div class="navbar">
      <div class="navbar_categories">
         <div class="navbar_categories-select" [routerLink]="[ 'category' ]" routerLinkActive="active">Категорії</div>
         <div class="navbar_categories-select" [routerLink]="[ 'thai' ]" routerLinkActive="active">Thai market</div>
         <div class="navbar_categories-select" [routerLink]="[ 'product' ]" routerLinkActive="active">Товари</div>
         <div class="navbar_categories-select" [routerLink]="[ 'orders' ]" routerLinkActive="active">Замовлення</div>
         <div class="navbar_categories-select" [routerLink]="[ 'vacancies' ]" routerLinkActive="active">Вакансії</div>
         <div class="navbar_categories-select" [routerLink]="[ 'response' ]" routerLinkActive="active">Відгуки</div>
      </div>
      <button class="navbar_button" (click)="logOut()">ВИХІД</button>
   </div>
   <div class="content">
      <router-outlet></router-outlet>
   </div>
</div>