<div class="container">
   <div class="title">Улюблене</div>
   <div class="products">
      <div class="products">
         <div class="product" *ngFor="let product of favoriteProducts">
            <div class="product_image">
               <div class="product_image-top">
                  <div class="product_image-label">
                     <div class="cul-special" *ngIf="product.culSpecial">Culinasia special</div>
                     <div class="no-rice" *ngIf="product.noRise">No Rice</div>
                  </div>
                  <div class="product_image-favorite">
                     <div class="favorite-bnt" (click)="deleteFavoriteProduct(product, product.id)">
                        <i class="uil uil-multiply"></i>
                     </div>
                  </div>
               </div>
               <img class="image" [src]="product.imagePath" alt="">
               <div class="product_image-button">
                  <button class="btn" type="button">Швидке замовлення</button>
               </div>
            </div>
            <div class="product_title">
               <div class="product_title-name" [routerLink]="['/product/'+product.category.path, product.id]">{{product.name}}
               </div>
               <div class="product_title-price">{{product.price}}</div>
            </div>
            <div class="product_info">
               <p class="product_info-weight" *ngIf="product.category.path === 'napoyi'">{{product.weight}}</p>
               <p class="product_info-components">{{product.description}}
               </p>
               <p class="product_info-allergens">
                  <span *ngIf="product.allergens">*Містить алергени: </span>
                  {{product.allergens}}
               </p>
            </div>
            <div class="product_controlls">
               <div class="count">
                  <button class="count_btn" (click)="productCount(product, false)">-</button>
                  <input class="count_value" type="text" [value]="product.count" readonly>
                  <button class="count_btn" (click)="productCount(product, true)">+</button>
               </div>
               <button class="add-btn" type="button" (click)="addToBasket(product)">Замовити</button>
            </div>
         </div>
      </div>
   </div>
</div>
