<div class="container">
   <div class="title">Зміна паролю</div>
   <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <input class="form_field" type="password" formControlName="old" placeholder="*Ваш поточний пароль">
      <input class="form_field" type="password" formControlName="new" placeholder="*Новий пароль">
      <input class="form_field" type="password" formControlName="confirm" placeholder="*Повторіть пароль"> 
      <button class="form_btn" type="submit" [disabled]="passwordForm.invalid">Зберегти зміни</button>
   </form>
</div>
