<div class="container">
   <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="form_box">
         <label class="form_label" for="oldPassword">Введіть старий пароль</label>
         <input class="form_field" type="password" id="oldPassword" formControlName="old">
      </div>
      <div class="form_box">
         <label class="form_label" for="newPassword">Введіть новий пароль</label>
         <input class="form_field" type="password" id="newPassword" formControlName="new">
      </div>
      <div class="form_box">
         <label class="form_label" for="repeatPassword">Повторіть пароль</label>
         <input class="form_field" type="password" id="repeatPassword" formControlName="confirm">
      </div>
      <button class="form_btn" type="submit" [disabled]="passwordForm.invalid">Змінити пароль</button>
   </form>
</div>
